/*
AI-------------------------------------------------------------------
	Color palette

	Red: #ff3b3f
	Off-white: #fbffe6
	Green: #1f7e92
-------------------------------------------------------------------AI
*/

/*
AI-------------------------------------------------------------------
	Generic section settings
-------------------------------------------------------------------AI
*/
section {
	background: #fbffe6;
	padding-left: 10em;
	padding-right: 10em;
	box-shadow: 0 0 5px black;
	height: 100vh;
	color: #1f7e92;
	overflow: all;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}


/*
AI-------------------------------------------------------------------
	Each Section has its own background settings.
-------------------------------------------------------------------AI
*/

#about {
	background: url('../img/content-portrait.png');
	background-size: 100% 100%;
}

#likes {
	background: url('../img/content-2-portrait.png');
	background-size: 100% 100%;
}

#projects {
	background: url('../img/content-3-portrait.png');
	background-size: 100% 100%;
	padding-bottom: 2rem;
	min-height: 100vh;
	padding-top: 4rem
}

#contact {
	background: url('../img/content-4-portrait.png');
	background-size: 100% 100%;
}

/*
AI-------------------------------------------------------------------
	Depending on the text type, certain rules are applied.
-------------------------------------------------------------------AI
*/
.heading {
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	font-size: 2rem;
}

.subheading {
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	font-size: 1.5rem;
}

.section-desc {
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	font-size: 1rem;
}

/*
AI-------------------------------------------------------------------
	CSS animation on items that animate on the page.
-------------------------------------------------------------------AI
*/
.slide-left {
	opacity: 0;
 	-moz-transition: all 500ms linear;
  	-webkit-transition: all 500ms linear;
  	-o-transition: all 500ms linear;
 	transition: all 500ms linear;
  	-moz-transform: translate3d(-100px, 0px, 0px);
  	-webkit-transform: translate3d(-100px, 0px, 0px);
  	-o-transform: translate(-100px, 0px);
  	-ms-transform: translate(-100px, 0px);
  	transform: translate3d(-100px, 0px, 0px);
}

.slide-right {
	opacity: 0;
 	-moz-transition: all 500ms linear;
  	-webkit-transition: all 500ms linear;
  	-o-transition: all 500ms linear;
 	transition: all 500ms linear;
  	-moz-transform: translate3d(100px, 0px, 0px);
  	-webkit-transform: translate3d(100px, 0px, 0px);
  	-o-transform: translate(100px, 0px);
  	-ms-transform: translate(100px, 0px);
  	transform: translate3d(100px, 0px, 0px);
}

.in-view {
	opacity: 1;
	-moz-transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}

/*
AI-------------------------------------------------------------------
	CSS for links that point to my profiles on external sites.
-------------------------------------------------------------------AI
*/
.links-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.links-out {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	text-align: center;
}

.fab, .fas {
	color: #1f7e92;
	transition: 0.5s ease-in;
}

.fa-envelope {
	padding-top: 0.1rem;
}

.fab:hover, .fas:hover {
	color: #ff3b3f;
}

/*
AI-------------------------------------------------------------------
Media Queries for Responsive Design
-------------------------------------------------------------------AI
*/

/*For phones with a narrow but long viewport*/
@media only screen and (max-width: 376px) and (min-height: 600px) {
	section {
		padding-right: 3.5rem;
		padding-left: 3.5rem;
		text-align: center;
	}

}

@media only screen and (max-width: 376px) {
	section {
		padding-left: 3rem;
		padding-right: 3rem;
		text-align: center;
	}
}

@media only screen and (min-width: 376px) and (max-width: 549px) {
	section {
		padding-right: 4rem;
		padding-left: 4rem;
		text-align: center;
	}
}

@media only screen and (min-width: 550px) and (max-width: 768px) {
	section {
		padding-right: 8rem;
		padding-left: 8rem;
	}
}

@media only screen and (min-width: 769px) {
}

@media only screen and (min-width: 1024px) {
	section {
		padding-right: 10rem;
		padding-left: 10rem;
	}
	#about {
		/* padding-top: 6rem; */
		background: url('../img/content-landscape.png');
		background-size: 100% 100%;
	}

	#likes {
		background: url('../img/content-2-landscape.png');
		background-size: 100% 100%;
	}

	#projects {
		background: url('../img/content-3-landscape.png');
		background-size: 100% 100%;
		padding-bottom: 2rem;
		height: auto;
	}

	#contact {
		background: url('../img/content-4-landscape.png');
		background-size: 100% 100%;
	}
}

@media only screen and (min-width: 1440px) {
	.heading {
	padding: 1.2rem 1.2rem 1.2rem 1.2rem;
	font-size: 2.5rem;
	}

	.subheading {
	padding: 1.2rem 1.2rem 1.2rem 1.2rem;
	font-size: 1.5rem;
	}

	.section-desc {
	padding: 1.2rem 1.2rem 1.2rem 1.2rem;
	font-size: 1rem;
	}
}
